body {
	font-size: 14px;
	line-height: 1.6;
	font-family: Arial;
	color: #222;
}

h1, h2, h3,
h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: 300;
}

h1 {
	font-size: 20px;
	line-height: 1.2;
}
h2 {
	font-size: 20px;
	line-height: 1.2;
}
h3 {
	font-size: 20px;
	line-height: 1.2;
}
h4 {
	font-size: 20px;
	line-height: 1.2;
}
h5 {
	font-size: 20px;
	line-height: 1.2;
}
h6 {
	font-size: 20px;
	line-height: 1.2;
}

p {
	margin-top: 0;
}
